/* :root {
    --secondary-bg-color: #181d3a;
    --primary-color: #dfdfdf;
    --primary-color: #5777B9;
    --secondary-color: #0d1020;
    --small-font-size: 0.7rem;
} */

:root {
    --background-color: #e2e2e2;
    --secondary-bg-color: #dbdcdf;
    --primary-color: #747474;
    --secondary-color: #c3c4c5;
    --small-font-size: 0.7rem;
}

[data-theme="dark"] {
    --background-color: #15142B;
    --secondary-bg-color: #21213A;
    --primary-color: #adaabe;
    --secondary-color: #4A4876;
    --small-font-size: 0.7rem;
}

*{
    box-sizing: border-box;
    -webkit-transition: all 0.20s ease-in;
    -moz-transition: all 0.20s ease-in;
    -ms-transition: all 0.20s ease-in;
    -o-transition: all 0.20s ease-in;
}

/* #0D1021 */

body {
    background-color: var(--background-color);
    color:var(--primary-color);
    height: 100vh;
}

.app{
    padding-top: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--primary-color);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--primary-color);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--primary-color);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--primary-color);
}

input[type=text], textarea {
    
    outline: none;
}

button {
    height: 45px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    font-size: 16px;
    border: none;
    border-radius: 0px;
    padding-left: 10px;
    border: 1px solid var(--secondary-color);
}

a:link {
    color: var(--primary-color);
    text-decoration: none;
}

a:visited {
    color: #3f598b
}


input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(19, 19, 20);
}




.small-font {
    font-size: var(--small-font-size);
    font-weight: bold;
}

#search {
    margin-bottom: 30px;
}

#search >div {
    margin: 0 20px;
}

#search-bar {
    display: flex;
    flex-wrap: nowrap;
}

#search-bar > span {
    background-color: var(--secondary-bg-color);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    border-left: 1px solid var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.search-bar {
    width: 100%;
    height: 45px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    font-size: 16px;
    border:none;
    border-radius: 0px;
    padding-left: 10px;
    border: 1px solid var(--secondary-color);
}


.suggestion{
    cursor: pointer;
    border-right: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    padding: 10px;
}

#suggestions {
    margin-left:inherit;
    z-index: 500;
    position: fixed;
    width: 1080px;
}

.suggestion:last-child{
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-color);
}
.suggestion:hover{
    background-color: var(--secondary-color);
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}



#dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 10px;
    margin-bottom:20px;
}
#dashboard > * {
    flex: 0 0 calc(25% - 20px);
    text-align: center;
}

#dashboard > div > strong {
    margin-right: 4px;
}


@media(min-width: 769px) and (max-width:1200px) {
    #dashboard {
        
        grid-template-columns: repeat(3, 1fr);
        
    }
    
}

@media(max-width:768px) {
    
    #search {
        margin-bottom: 20px;
    }
    #dashboard {
        
        grid-template-columns: repeat(2, 1fr);
        
    }
}