/* :root {
    --secondary-bg-color: #181d3a;
    --primary-color: #dfdfdf;
    --secondary-inverse-color: #bcd8f3;
    --secondary-color: #2E3E72;
    --dark-color: #5777B9;
    --primary-color-dark: #0d1020;
    --small-font-size: 0.7rem;
} */

:root {
    --secondary-bg-color: #dbdcdf;
    --primary-color: #707070;
    --secondary-inverse-color: #a5a5a5;
    --secondary-color: #aaaaaa;
    --dark-color: #747474;
    --primary-color-dark: #c3c4c5;
    --small-font-size: 0.7rem;
}

*{
    box-sizing: border-box;
}

/* #0D1021 */

body{
    background-color: #e2e2e2;
    color:var(--dark-color);
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--dark-color);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--dark-color);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--dark-color);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--dark-color);
}

input[type=text], textarea {
    -webkit-transition: all 0.20s ease-in;
    -moz-transition: all 0.20s ease-in;
    -ms-transition: all 0.20s ease-in;
    -o-transition: all 0.20s ease-in;
    outline: none;
}

a:link {
    color: var(--dark-color);
    text-decoration: none;
}

a:visited {
    color: #3f598b
}


input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(19, 19, 20);
}



table thead {
    font-size: var(--small-font-size);
    color:var(--secondary-color);
    
}
.small-font {
    font-size: var(--small-font-size);
    font-weight: bold;
}

#search {
    margin-bottom: 30px;
}

#search >div {
    margin-left: 20px;
}

#search-bar {
    display: flex;
    flex-wrap: nowrap;
}

#search-bar > span {
    background-color: var(--secondary-bg-color);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    border-left: 1px solid var(--primary-color-dark);
    border-top: 1px solid var(--primary-color-dark);
    border-bottom: 1px solid var(--primary-color-dark);
}
.search-bar {
    width: 100%;
    height: 45px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    font-size: 16px;
    border:none;
    border-radius: 0px;
    padding-left: 10px;
    border: 1px solid var(--primary-color-dark);
}


.suggestion{
    cursor: pointer;
    border-right: 1px solid var(--primary-color-dark);
    border-left: 1px solid var(--primary-color-dark);
    border-bottom: 1px solid var(--primary-color-dark);
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    padding: 10px;
}

#suggestions {
    margin-left:inherit;
    z-index: 500;
    position: fixed;
    width: 1080px;
}

.suggestion:last-child{
    cursor: pointer;
    border-bottom: 1px solid var(--primary-color-dark);
}
.suggestion:hover{
    background-color: #1d2346;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    color:var(--secondary-color);
    
}

.secondary {
    color: var(--secondary-inverse-color);
}

